aiofiles==0.5.0
alembic==1.13.1
arrow==1.3.0
asgiref==3.5.0
async-exit-stack==1.0.1
async-generator==1.10
attrs==21.2.0
beautifulsoup4==4.12.3
celery==5.3.6
chardet==4.0.0
cryptography==42.0.5
dependency-injector==4.41.0
email_validator==2.1.1
fastapi==0.110.0
graphene==2.1.9
httptools==0.6.1
httpx==0.27.0
itsdangerous==2.1.2
Jinja2==3.1.3
orjson==3.9.15
passlib==1.7.4
pillow==10.2.0
pip==22.3.1
pipdeptree==2.16.1
py==1.11.0
pycld2==0.41
PyMySQL==1.1.0
PySocks==1.7.1
pytest==8.1.1
python-dotenv==0.19.0
python-editor==1.0.4
python-jose==3.3.0
python-multipart==0.0.5
pytz==2021.3
PyYAML==6.0.1
requests-random-user-agent==2021.5.29
rfc3986==1.5.0
setuptools==69.2.0
sqlakeyset==2.0.1708907391
SQLAlchemy-Utils==0.38.2
toml==0.10.2
toolz==0.12.1
tweepy==4.12.1
ujson==5.5.0
uvicorn==0.29.0
uvloop==0.19.0
watchgod==0.7
websockets==10.1
wheel==0.43.0
