aiofiles==0.5.0
alembic==1.8.1
  Mako==1.2.4
    MarkupSafe==2.0.1
  SQLAlchemy==1.4.44
    greenlet==1.1.0
arrow==1.2.2
  python-dateutil==2.8.2
    six==1.16.0
async-exit-stack==1.0.1
async-generator==1.10
beautifulsoup4==4.9.3
  soupsieve==2.2.1
celery==5.2.3
  billiard==3.6.4.0
  click==8.0.3
  click-didyoumean==0.3.0
    click==8.0.3
  click-plugins==1.1.1
    click==8.0.3
  click-repl==0.2.0
    click==8.0.3
    prompt-toolkit==3.0.24
      wcwidth==0.2.5
    six==1.16.0
  kombu==5.2.3
    amqp==5.0.9
      vine==5.0.0
    vine==5.0.0
  pytz==2021.3
  setuptools==59.6.0
  vine==5.0.0
chardet==4.0.0
cryptography==36.0.1
  cffi==1.15.0
    pycparser==2.21
dependency-injector==4.38.0
  six==1.16.0
email-validator==1.1.3
  dnspython==2.1.0
  idna==2.10
fastapi==0.87.0
  pydantic==1.8.2
    typing-extensions==3.10.0.2
  starlette==0.21.0
    anyio==3.4.0
      idna==2.10
      sniffio==1.2.0
graphene==2.1.9
  aniso8601==7.0.0
  graphql-core==2.3.2
    promise==2.3
      six==1.16.0
    Rx==1.6.1
    six==1.16.0
  graphql-relay==2.0.1
    graphql-core==2.3.2
      promise==2.3
        six==1.16.0
      Rx==1.6.1
      six==1.16.0
    promise==2.3
      six==1.16.0
    six==1.16.0
  six==1.16.0
httptools==0.2.0
httpx==0.23.0
  certifi==2021.5.30
  httpcore==0.15.0
    anyio==3.4.0
      idna==2.10
      sniffio==1.2.0
    certifi==2021.5.30
    h11==0.12.0
    sniffio==1.2.0
  rfc3986==1.5.0
  sniffio==1.2.0
itsdangerous==1.1.0
Jinja2==2.11.3
  MarkupSafe==2.0.1
orjson==3.6.3
passlib==1.7.4
Pillow==9.3.0
pip==22.3.1
pipdeptree==2.3.3
pkg_resources==0.0.0
py==1.11.0
pycld2==0.41
PyMySQL==1.0.2
PySocks==1.7.1
pytest==7.2.0
  attrs==21.2.0
  exceptiongroup==1.0.4
  iniconfig==1.1.1
  packaging==21.0
    pyparsing==2.4.7
  pluggy==1.0.0
  tomli==2.0.1
python-dotenv==0.19.0
python-editor==1.0.4
python-jose==3.3.0
  ecdsa==0.17.0
    six==1.16.0
  pyasn1==0.4.8
  rsa==4.8
    pyasn1==0.4.8
python-multipart==0.0.5
  six==1.16.0
PyYAML==5.4.1
requests-random-user-agent==2021.5.29
  requests==2.28.1
    certifi==2021.5.30
    charset-normalizer==2.1.1
    idna==2.10
    urllib3==1.26.6
sqlakeyset==1.0.1629029818
  packaging==21.0
    pyparsing==2.4.7
  python-dateutil==2.8.2
    six==1.16.0
  SQLAlchemy==1.4.44
    greenlet==1.1.0
SQLAlchemy-Utils==0.38.2
  six==1.16.0
  SQLAlchemy==1.4.44
    greenlet==1.1.0
toml==0.10.2
toolz==0.11.2
tweepy==4.12.1
  oauthlib==3.2.2
  requests==2.28.1
    certifi==2021.5.30
    charset-normalizer==2.1.1
    idna==2.10
    urllib3==1.26.6
  requests-oauthlib==1.3.0
    oauthlib==3.2.2
    requests==2.28.1
      certifi==2021.5.30
      charset-normalizer==2.1.1
      idna==2.10
      urllib3==1.26.6
ujson==5.5.0
uvicorn==0.17.0
  asgiref==3.5.0
  click==8.0.3
  h11==0.12.0
uvloop==0.16.0
watchgod==0.7
websockets==10.1
wheel==0.37.1
